.object-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
  background: #e0f7fa;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bus {
  width: 500px;
  height: 200px;
  background: #ffeb3b;
  border: 1px solid black;
  border-radius: 20px 20px 10px 10px;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  animation: moveUpDown 1s ease-in-out infinite;
}


.top {
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.windows {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.window {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 5px;
  border: 2px solid #000;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.door {
  position: absolute;
  width: 60px;
  height: 100px;
  right: 30px;
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.bottom {
  width: 100%;
  height: 30%;
  position: relative;
  padding-right: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.stripe {
  width: 100%;
  height: 15px;
  background: #d32f2f;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wheel {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: rotate 2s linear infinite;
  border: 1px solid black;
  display: flex;
  align-items: center;
  z-index: 4;
  justify-content: center;
}
.wheel-dial{
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 5;
}

.wheel::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 3px,
    #525252 3px,
    #000 5px
  );
}

.front-wheel {
  left: 60px;
}
.middle-wheel {
  left: 130px;
}
.back-wheel {
  right: 60px;
}


.object-handler-wrapper {
  position: absolute;
  bottom: 120px;
  left: 0px;
}


.radio-group {
  display: flex;
  gap: 10px; 
  margin-left: 10px;
}

.radio-group label {
  margin: 0;
  
}

.radio-group input[type="radio"] {
  margin-right: 5px; 

}
.qty-lbl{
  position: absolute;
  top: -20px;
  left: 30px;
  font-weight: bold;
}
.color-lbl{
  position: absolute;
  top: -20px;
  left: 135px;
  font-weight: bold;
}

