/* App.css */
body.dark-mode {
  background-image: url('../public/dark.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

body.light-mode {
  background-image: url('../public/light.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  color: #121212;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5em;
  color: inherit;
}
